BODY {
	SCROLLBAR-3dLight-COLOR: #CCCCCC;
	SCROLLBAR-Arrow-COLOR: #666666;
	SCROLLBAR-Base-COLOR: #CCCCCC;
	SCROLLBAR-DarkShadow-COLOR: #666666;
	SCROLLBAR-Face-COLOR: #CCCCCC;
	SCROLLBAR-Highlight-COLOR: #666666;
	SCROLLBAR-Shadow-COLOR: #CCCCCC;
	SCROLLBAR-Track-COLOR: #666666;

	FONT-SIZE: 12px; FONT-FAMILY: ו
}

TD, P,LI {
	FONT-SIZE: 12px; FONT-FAMILY: ו
}

A:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}

INPUT, TEXTAREA {
	BACKGROUND:URL(images/ALL_BG.gif); BORDER: 1px solid; FONT-SIZE: 9pt;
}